---
title: Partneři
description: Partneři a příznivci spolku Felbiánek.
nav: partneri
---
<section class="section">
  <div class="container">
<h1 style="text-align:center">Felbiánek upřímně děkuje všem svým partnerům a příznivcům za jejich podporu a spolupráci!</h1>
<div class="partner-grid">
  <a href="http://www.felbabka.eu" target="_blank" rel="noopener"><img src="{{root}}assets/img/partners/felbabka.jpg" alt="Obec Felbabka" loading="lazy" width="120" height="80"></a>
  <a href="https://www.lesnims.cz/" target="_blank" rel="noopener"><img src="{{root}}assets/img/partners/alms.gif" alt="ALMS" loading="lazy" width="120" height="80"></a>
  <a href="http://zemekvet.cz/" target="_blank" rel="noopener"><img src="{{root}}assets/img/partners/zemekvet.png" alt="Země květ" loading="lazy" width="120" height="80"></a>
  <a href="https://www.kr-stredocesky.cz/" target="_blank" rel="noopener"><img src="{{root}}assets/img/partners/kraj.png" alt="Středočeský kraj" loading="lazy" width="120" height="80"></a>
  <a href="https://www.sfzp.cz/" target="_blank" rel="noopener"><img src="{{root}}assets/img/partners/sfzp.jpg" alt="SFŽP" loading="lazy" width="120" height="80"></a>
  <a href="https://www.mzp.cz/" target="_blank" rel="noopener"><img src="{{root}}assets/img/partners/mzp.jpg" alt="MŽP" loading="lazy" width="120" height="80"></a>
  <a href="https://lesycr.cz/" target="_blank" rel="noopener"><img src="{{root}}assets/img/partners/lcr.png" alt="Lesy ČR" loading="lazy" width="120" height="80"></a>
  <a href="https://www.countrylife.cz/" target="_blank" rel="noopener"><img src="{{root}}assets/img/partners/jurta.jpg" alt="Country Life" loading="lazy" width="120" height="80"></a>
  <a href="https://www.toszebrak.cz/" target="_blank" rel="noopener"><img src="{{root}}assets/img/partners/toszebrak.png" alt="To s zebrou" loading="lazy" width="120" height="80"></a>
  <a href="https://brdy.nature.cz/" target="_blank" rel="noopener"><img src="{{root}}assets/img/partners/chko.png" alt="CHKO Brdy" loading="lazy" width="120" height="80"></a>
  <a href="https://www.vls.cz/" target="_blank" rel="noopener"><img src="{{root}}assets/img/partners/vls.jpg" alt="VLS" loading="lazy" width="120" height="80"></a>
</div>
  </div>
</section>