---
title: Kontakt
description: Kontakt na spolek Felbiánek, Felbabka 80.
nav: kontakt
---
<section class="section">
  <div class="container">
<div class="contact-block">
  <h1>Spolek Felbiánek, z. s.</h1>
  <p>Felbabka 80, 268 01 Hořovice</p>
  <p>IČ: 066 28 095</p>
  <p>email: <a href="mailto:skritek@felbianek.cz">skritek@felbianek.cz</a></p>
  <p>Transparentní účet (<a href="https://ib.fio.cz/ib/transparent?a=2701358717" target="_blank" rel="noopener">aby bylo jasno</a>)</p>
  <p>Felbiánkův Fond Folidarity (<a href="https://ib.fio.cz/ib/transparent?a=2502598486" target="_blank" rel="noopener">aby bylo ftále flunečno</a>)</p>
  <p><a href="mailto:skolka@felbianek.cz">skolka@felbianek.cz</a></p>
</div>
  </div>
</section>