---
title: Mezinárodní den LS
description: Mezinárodní den lesních školek 2018.
nav: galerie
---
<section class="section">
  <div class="container">
<p class="breadcrumb"><a href="{{root}}galerie/index.html">Galerie</a> / Mezinárodní den LS</p>
<h1>Mezinárodní den lesních školek, 3. 5. 2018</h1>
<div class="gallery-grid" data-lightbox>
  <a href="{{root}}assets/img/from-archiv/2018/05/stille_mit_kind_3.jpg"><img src="{{root}}assets/img/from-archiv/2018/05/stille_mit_kind_3.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/05/stille_mit_kind_3-150x150.jpg"><img src="{{root}}assets/img/from-archiv/2018/05/stille_mit_kind_3-150x150.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/05/gruppe_1.jpg"><img src="{{root}}assets/img/from-archiv/2018/05/gruppe_1.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/05/gruppe_1-150x150.jpg"><img src="{{root}}assets/img/from-archiv/2018/05/gruppe_1-150x150.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/05/foto_2.jpg"><img src="{{root}}assets/img/from-archiv/2018/05/foto_2.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/05/foto_2-150x150.jpg"><img src="{{root}}assets/img/from-archiv/2018/05/foto_2-150x150.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/05/domaci_svacina.png"><img src="{{root}}assets/img/from-archiv/2018/05/domaci_svacina.png" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/05/domaci_svacina-150x150.png"><img src="{{root}}assets/img/from-archiv/2018/05/domaci_svacina-150x150.png" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/05/basta_2.jpg"><img src="{{root}}assets/img/from-archiv/2018/05/basta_2.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/05/basta_2-150x150.jpg"><img src="{{root}}assets/img/from-archiv/2018/05/basta_2-150x150.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/05/basta_3.jpg"><img src="{{root}}assets/img/from-archiv/2018/05/basta_3.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/05/basta_3-150x150.jpg"><img src="{{root}}assets/img/from-archiv/2018/05/basta_3-150x150.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/05/basta_4.jpg"><img src="{{root}}assets/img/from-archiv/2018/05/basta_4.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/05/basta_4-150x150.jpg"><img src="{{root}}assets/img/from-archiv/2018/05/basta_4-150x150.jpg" alt="" loading="lazy"></a>
</div>
  </div>
</section>