---
title: Jak jsme stavěli domeček
description: Fotogalerie stavby zázemí.
nav: galerie
---
<section class="section">
  <div class="container">
<p class="breadcrumb"><a href="{{root}}galerie/index.html">Galerie</a> / Stavba domečku</p>
<h1>Jak jsme Felbiánkovi stavěli domeček?</h1>
<div class="gallery-grid" data-lightbox>
  <a href="{{root}}assets/img/from-archiv/2019/11/SFZP_zkr_CMYK.jpg"><img src="{{root}}assets/img/from-archiv/2019/11/SFZP_zkr_CMYK.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2019/11/SFZP_zkr_CMYK-300x292.jpg"><img src="{{root}}assets/img/from-archiv/2019/11/SFZP_zkr_CMYK-300x292.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2019/11/MZP_logo_RGB_v2-1024x381.jpg"><img src="{{root}}assets/img/from-archiv/2019/11/MZP_logo_RGB_v2-1024x381.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2019/11/MZP_logo_RGB_v2-300x112.jpg"><img src="{{root}}assets/img/from-archiv/2019/11/MZP_logo_RGB_v2-300x112.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2019/11/MZP_logo_RGB_v2-768x286.jpg"><img src="{{root}}assets/img/from-archiv/2019/11/MZP_logo_RGB_v2-768x286.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2019/11/MZP_logo_RGB_v2-500x186.jpg"><img src="{{root}}assets/img/from-archiv/2019/11/MZP_logo_RGB_v2-500x186.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2019/11/MZP_logo_RGB_v2-800x297.jpg"><img src="{{root}}assets/img/from-archiv/2019/11/MZP_logo_RGB_v2-800x297.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2019/11/MZP_logo_RGB_v2.jpg"><img src="{{root}}assets/img/from-archiv/2019/11/MZP_logo_RGB_v2.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/12/20180504_183417.jpg"><img src="{{root}}assets/img/from-archiv/2018/12/20180504_183417.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/12/20180504_183417-1024x576.jpg"><img src="{{root}}assets/img/from-archiv/2018/12/20180504_183417-1024x576.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/12/20180504_183417-300x169.jpg"><img src="{{root}}assets/img/from-archiv/2018/12/20180504_183417-300x169.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/12/20180504_183417-768x432.jpg"><img src="{{root}}assets/img/from-archiv/2018/12/20180504_183417-768x432.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/12/20180504_183417-800x450.jpg"><img src="{{root}}assets/img/from-archiv/2018/12/20180504_183417-800x450.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/12/20180506_155031.jpg"><img src="{{root}}assets/img/from-archiv/2018/12/20180506_155031.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/12/20180506_155031-1024x576.jpg"><img src="{{root}}assets/img/from-archiv/2018/12/20180506_155031-1024x576.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/12/20180506_155031-300x169.jpg"><img src="{{root}}assets/img/from-archiv/2018/12/20180506_155031-300x169.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/12/20180506_155031-768x432.jpg"><img src="{{root}}assets/img/from-archiv/2018/12/20180506_155031-768x432.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/12/20180506_155031-800x450.jpg"><img src="{{root}}assets/img/from-archiv/2018/12/20180506_155031-800x450.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/12/20180506_163648.jpg"><img src="{{root}}assets/img/from-archiv/2018/12/20180506_163648.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/12/20180506_163648-1024x576.jpg"><img src="{{root}}assets/img/from-archiv/2018/12/20180506_163648-1024x576.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/12/20180506_163648-300x169.jpg"><img src="{{root}}assets/img/from-archiv/2018/12/20180506_163648-300x169.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/12/20180506_163648-768x432.jpg"><img src="{{root}}assets/img/from-archiv/2018/12/20180506_163648-768x432.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/12/20180506_163648-800x450.jpg"><img src="{{root}}assets/img/from-archiv/2018/12/20180506_163648-800x450.jpg" alt="" loading="lazy"></a>
  <a href="{{root}}assets/img/from-archiv/2018/12/20180506_195657-e1545939665562.jpg"><img src="{{root}}assets/img/from-archiv/2018/12/20180506_195657-e1545939665562.jpg" alt="" loading="lazy"></a>
</div>
  </div>
</section>