---
title: Máte střevo pro EVVO?
description: EVVO programy pro pedagogy – Felbiánek.
nav: vzdelavani
---
<section class="section">
  <div class="container">
<h1>Chcete umět EVVO?</h1>
<p style="text-align:center">Úcta a láska k přírodě? Minimalizace odpadů? Ochrana vodních zdrojů? Ochrana čistoty ovzduší?</p>
<p style="text-align:center"><strong>To vše a ještě mnohem víc.</strong></p>
<h2><a href="{{root}}vzdelavani/mate-strevo-pro-evvo/sedm-divu-evvo/index.html">Sedm divů EVVO</a></h2>
<p style="text-align:center">Metodický kurz pro pedagogické pracovníky MŠ s akreditací MŠMT (č. MSMT-11414/2020-4-250). Kurz je možné hradit z OP JAK.</p>
<p style="text-align:center"><a href="{{root}}vzdelavani/mate-strevo-pro-evvo/sedm-divu-evvo/index.html">Podrobnosti k Sedm divům EVVO</a></p>
  </div>
</section>