---
title: Toulky lesem s Felbiánkem
description: EVVO programy pro mateřské školy.
nav: vzdelavani
---
<section class="section">
  <div class="container">
<h1>Toulky lesem s Felbiánkem</h1>
<p><a href="https://docs.google.com/spreadsheets/d/1oga2b4ouFxqZERkYzi_YtVJszWGJE1g9a9k26T45GXA/edit?usp=sharing" target="_blank" rel="noopener">EVVO programy pro MŠ 2024/2025</a></p>
<p>Felbiánek připravil pro děti 3–6 let environmentální programy:</p>
<ul>
  <li>Naše stromy</li>
  <li>Ze života vlků</li>
  <li>Ptáci kolem nás</li>
</ul>
<p><strong>Cena:</strong> 2000 Kč/program pro 15–20 dětí (+ 100 Kč za dítě nad kapacitu); 1500 Kč pro méně než 15 dětí.</p>
<p>Objednávky programů <a href="https://docs.google.com/spreadsheets/d/1oga2b4ouFxqZERkYzi_YtVJszWGJE1g9a9k26T45GXA/edit?usp=sharing" target="_blank" rel="noopener"><strong>ZDE</strong></a>.</p>
  </div>
</section>