---
title: Galerie
description: Fotogalerie akcí spolku Felbiánek.
nav: galerie
---
<section class="section">
  <div class="container">
<h1>Galerie</h1>
<p style="text-align:center">V této části najdete fotky z výuky programů EVVO a dalších akcí spolku.</p>
<div class="galerie-album-list">
  <a class="card" href="{{root}}galerie/uklidme-cesko-7-4-2018/index.html">
    <img src="{{root}}assets/img/from-archiv/2018/04/20180407_141402-1024x576.jpg" alt="" width="400" height="225" loading="lazy">
    <h3>Ukliďme Česko, 7. 4. 2018</h3>
  </a>
  <a class="card" href="{{root}}galerie/fascinace-prirodou/index.html">
    <img src="{{root}}assets/img/from-archiv/2018/04/LK_Felbianek-1024x576.jpg" alt="" width="400" height="225" loading="lazy">
    <h3>Fascinace přírodou</h3>
  </a>
  <a class="card" href="{{root}}galerie/mezinarodni-den-ls/index.html">
    <img src="{{root}}assets/img/from-archiv/2018/05/gruppe_1-800x450.jpg" alt="" width="400" height="225" loading="lazy">
    <h3>Mezinárodní den lesních školek, 3. 5. 2018</h3>
  </a>
  <a class="card" href="{{root}}galerie/jak-jsme-staveli-felbiankovi-domecek/index.html">
    <img src="{{root}}assets/img/from-archiv/2018/12/20180504_183417-1024x576.jpg" alt="" width="400" height="225" loading="lazy">
    <h3>Jak jsme Felbiánkovi stavěli domeček?</h3>
  </a>
</div>
  </div>
</section>